body {
  background-image: url(img/collage.jpeg) !important;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  font-family: 'Sriracha', sans-serif;
}
/** Navbar **/
.navbar {
  border-radius: 0px 0px 10px 15px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.nav-item {
  margin: 0% 1% 0% 0%;
}

.nav-item:hover {
  transform: scale(1.2);
}

.mr-auto {
  margin-right: 0px!important;
  width: 100%;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #af0000;
}

.btn {
  background-color: #af0000;
  border-color: white;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
}

.bg-light {
    background-size: 1200px;
}

.btn-outline-success {
  color: #ffffff !important;
  border-color: #ff0000 !important;
  outline-color: #af0000 !important;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #202223!important;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #820000 !important;
  border-color: #820000 !important;
}

.homerow {
  margin-left: 0px!important;
}

/** Home page **/
.pagecont {
  background-color: #f8f9fa !important;
  max-width: 70%;
  padding: 60px;
}

.container {
  padding: 20px;
}

.para {
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.homeparatitle {
  text-align: center;
  font-size: 25px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.homeparagraph {
  font-size: 23px;
  text-align: center;
}

#homecarousel {
  width:90%;
  margin: auto;
}

.homecarouselpic {
max-width: 80%;
max-height:25%;
margin-left: 10%;
margin-right: 10%;
}

.homeshopbutton {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 10% 33%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 30%;
  height: 12%;
  border-radius: 4px;
}

.homeshopbutton:hover {
  background-color: #c10900;
  color: white;
}

.skateboard {
  width: 50%;
  margin: 10% 25%;
  transition: transform .2s;
}

.skateboard:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.testimonialheading {
  text-align: center;
}

.testimonial-descriptions {
  text-align: center;
  margin-bottom: 1%;
}

/** Shop Nav **/
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 8 50 8 50;
  font-size: 20px;
  z-index: 1;
}

.btn-group {
  align-items: center!important;
  display: flex;
  position: relative;
  margin: auto;
  width: 73%;
}

.btn-secondary {
  width: 20%;
  background-color: #202223;
}

.btn-secondary:hover {
  background-color: #820000;
}

/** Shop **/
.shoprow {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 1%;
  width: 100%;
}

h2 {
  color: #FFF;
  margin: 30px;
}

.text-center {
  padding: 0px;
}
.card {
  border: 10px;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
}

.product-name {
  color: Black;
}

div.row.modal-row {
  margin-left: 15px;
}

div.row.modal-options {
  margin: 15px;
}

h2.h2-responsive.product-name {
  margin: 10px;
}

.emptycard {
  visibility: hidden;
}

.viewbtn {
  color: #FFF;
}

.viewbtn:hover {
  background-color: #202223;
  color: #FFF;
}

.viewbtn:success {
  background-color: #202223;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.fa-shopping-basket {
  color: #FFF;
}

.shoptitle {
  color: black;
  margin: auto;
  margin-bottom: 1%;
}

.shopcards {
  background-color: #e4e4e4;
}

.shopinput {
  width: 80%;
  margin: 0% 10% 3% 10%;
}

/* History */

.histrow {
  display: flex;
  flex-direction: row;
  box-align: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.histcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.histname {
  color: black;
  text-align: center;
  font-size: 150%;
  margin: 0px;
  margin-top: 5%;
  margin-bottom: 3%;
}

.histtitle {
  text-align: center;
  color: #808080;
}

.histcontainer {
  padding-bottom: 15%;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.histfa {
  color: #962fbf!important;
  margin-left: auto;
  margin-right: auto;
}

.histfa:hover {
  color: black!important;
}

.histtext {
  font-size: 20px;
  text-align: center;
  margin: 0% 7% 1% 7%;
}

.histicon {
  text-align: center;
}

/* Videos Page */
.flex-container {
  display: flex;
  flex-direction: row;
  align: center;
  justify-content: center;
  flex-flow: row-wrap;
  padding: 25px 125px;
}

.flex-item {
  padding: 25px 125px;
  align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.youtubeicon {
  width: 5%;
  height: 10%;
}

.vidpara {
  font-size: 20px;
  text-align: center;
}

.flyer {
  text-align: center;
}

/** footer **/

.footercont {
  padding: 0px!important;
  margin: 0px!important;
  background-color: #c52121;
  position: absolute;
  width:100%;
}

.footer-copyright {
  background-color: #af0000;
}

.foottext {
  color: #FFF;
  font-size: 120%;
}

.foottext:hover {
  color: #ababab;
}

.rgba-white-light {
  margin: 0 15%;
}

.clearfix {
  margin: 10% 15% 5%;
}

.fa {
  color: white;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-youtube:hover {
  color: #f1f1f1;
}

.fa-instagram:hover {
  color: #962fbf;
}

.fa-tumblr:hover {
  color: #2d5276;
}

.footer-socials {
  margin-bottom: 0px!important;
}

.pt-4 {
  margin-top: 2px!important;
  padding: 0px!important;
}

.copyfoot {
  padding-bottom: 2px;
}


/* help */
.feedback-input {
  color: black;
  font-family: 'Sriracha', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.helpbtn {
  font-family: 'Sriracha', sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
.helpbtn:hover { background:#CC4949; }

/* media Query */

/* smaller screens */

@media only screen and (max-width: 1210px) {
  /*history page */
  .histname {
    font-size: 100%;
  }
}

@media only screen and (max-width: 870px) {
  /*history page */
  .histname {
    font-size: 80%;
  }
}

/* ipad pro */
@media only screen and (max-width: 1030px) {
  .pagecont {
    max-width: 80%;
  }
  .navbar {
    height: 200px!important;
  }

  .nav-item {
    font-size: 120%;
  }
  img.logoimg {
    width: 170px;
  }
  /* history page */
  .histrow {
    margin: 0px;
  }
  .histtext {
    font-size: 30px;
    margin-bottom: 3%;
  }
  .histcont {
    padding-bottom: 19%;
  }
  .histtitle {
    margin-bottom: 0px;
  }
  .histname {
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 4px;
  }
  .fa-4x {
    font-size: 3.7em!important;
  }
}

/* iPad and tablets */
@media only screen and (max-width: 800px) {
  .navbar-toggler {
    width: 10%;
    height: 25%;
    background-color: #c52121;
    margin-right: 30px;
  }
  .btn-group{
    padding-top: 10px;
  }
  .card {
    height: 300px;
    width: 200px;
  }
  .pagecont {
    max-width: 85%;
  }
  .card-title {
    margin-bottom: 6px;
  }
  div.row.modal-row {
    margin-left: 0px;
    margin-right: 2px;
  }
  .navbar-collapse {
    background-color: #f8f9fa;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 3px 7px 5px grey;
    z-index: 2;
    position: relative;
  }
  .nav-item:hover {
    transform: scale(1);
  }
  div.sticky {
    width: 98%;
    margin: auto;
  }
  .nav-link {
    text-align: center;
  }
  .homeparagraph {
    font-size: 18px;
  }
  .homeparatitle {
    font-size: 25px;
  }
  .testimonialheading {
    font-size: 25px;
  }
  #homecarousel {
    width: 100%;
  }
  .skateboard {
    width: 60%;
    margin-left: 20%;
  }
  .histtext {
    font-size: 23px;
  }
}

/* iPhone X/plus's */
@media only screen and (max-width: 425px) {
  .navbar-toggler {
    width: 18%;
  }
  .btn-group {
    width: 100%;
  }
  .col-sm-4 {
    margin-bottom: 30%;
  }
  .card {
    height: 288px;
  }
  .emptycol {
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
  .clearfix{
    visibility: hidden;
    margin: 0px;
  }
  .icons-sm {
    margin: auto;
  }
  .pagecont {
    width: 93%;
  }
  .btn-secondary {
    width: 40%;
  }
  div.row.modal-options {
    margin: 0px;
  }

  div.card-body {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .modal-options {
    padding-bottom: 60px;
    padding-top: 10px;
  }
  .histtext {
    font-size: 15px;
    margin: 0px;
  }
  img.logoimg {
    width: 100%;
  }
  .histcolumn {
    width: 100%;
    height: 320px;
  }
  .histrow {
    padding-top: 30px;
  }
  .fa-4x {
    font-size: 3.5em!important;
  }
}

@media only screen and (max-width: 376px) {
  .modal-content {
    width: 85%;
    margin: auto;
  }
  .modal-options {
    margin: auto!important;
    width: 100%;
  }
  .card-body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
