body {
  background-image: url(img/collage.jpeg) !important;
}
/** Navbar **/
.navbar {
  border-radius: 0px 0px 10px 15px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-size: 18px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #af0000;
}

.bg-light {

    background-size: 1200px;
}

.btn-outline-success {
  color: #ffffff !important;
  border-color: #ff0000 !important;
  outline-color: #af0000 !important;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #be0000 !important;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #be0000 !important;
  border-color: #be0000 !important;
}
/** Home page **/
.container {
  padding: 60px;
}

.para {
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.paratitle {
  text-align: center;
}

img {
  max-width:100%;
  max-height:100%;
}

div.container {
  background-color: #f8f9fa !important;
  max-width: 70%;
}
/** Shop Nav **/

/** Shop **/
.row {
  margin-left: 11%;
}

h2 {
  color: #FFF;
  margin: 30px;
}

.text-center {
  padding: 0px;
}
.card {
  border: 10px;
  max-width: 100%;
}

.product-name {
  color: Black;
}
/*About Us*/
.abouttext {
  text-align: center;
  padding: 15px;
  border: 0px solid red;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}

.pfp {
  width: 265px;
  height: 265px;
  border: 2px solid black;
}

.profiles {
  display: flex;
  align-items: center;
}

.pfpcards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  padding: 10px;
  margin-left: 181px;
  margin-right: 181px;
  border: solid 2px black;
  border-radius: 20px;
  background-color: white;
}

.title {
  color: rgb(255, 255, 255)255, 255, 255);
  font-size: 18px;
}

.instaicon {
  width: 45px;
}

.abouttext {
  color: white;
}
/* Videos Page */
.flex-container {
  display: flex;
  flex-direction: row;
  box-align: center;
  justify-content: center;
}

.flex-item {
  padding: 25px 100px;
  box-align: center;
}

.youtubeicon {
  width: 5%;
  height: 10%;
}
